@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  background-color: #f9f9f9;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  width: 500px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

/** 헤더 */

/** 메인 헤더 */
.main-header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
}

/** 탑 메뉴 */
.top-menu-container {
  height: 44px;
}

.top-menu-list {
  display: flex;
  padding: 0 18px;
  height: 44px;
}

.top-menu-list a {
  height: 44px;
  display: flex;
  align-items: center;
  margin-right: 14px;
  color: #212121;
  text-decoration: none;
  font-size: 14px;
}

.top-menu-list .is-active {
  font-weight: 600;
  border-bottom: 2px solid #e26348;
}

/** 메인 */
/** 기간 행사 */
.period-event-container {
  margin-top: 2px;
  background-color: yellow;
  position: relative;
  height: 278px;
}

.period-event-container a {
  height: 278px;
}

.arrow-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.left-arrow,
.right-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  top: 40%;
  position: absolute;
  width: 32px;
  height: 56px;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  transform: scaleX(-1);
  right: 0;
}

.left-arrow img {
  background-color: transparent;
  background-position: 3px 50%;
  background-size: 24px;
  line-height: 16px;
}

.right-arrow img {
  background-color: transparent;
  background-position: 3px 50%;
  background-size: 24px;
  line-height: 16px;
}

.period-event-comment {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
}

.period-event-comment p,
.period-event-comment strong {
  background-color: #005cb9;
  padding-bottom: 5px;
}

.period-event-comment strong {
  font-size: 25px;
  font-weight: 700;
}

.period-event-comment p:last-child {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

/** 메인 카테고리 메뉴 */
.main-category-menu-list {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.main-category-menu-list a {
  text-decoration: none;
  color: #61605f;
  font-size: 13px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main-category-menu-list span {
  margin-top: 5px;
}
